packages/*/package-lock.json
dist
/node_modules/

packages/**/node_modules/
# bundle
packages/**/*.d.ts
packages/**/*.js


# Logs
*.log

# Environment variables
.env
# npm pack
*.tgz

# Package manager lock files
**/yarn.lock
**/bun.lock
**/pnpm-lock.yaml

# Mac files
.DS_Store