packages/*/package-lock.json
tsconfig.tsb*
# dependencies
node_modules/

# bundle
packages/**/**/*.d.ts
packages/**/**/*.js

# Environment variables
.env

# misc
.DS_Store
.idea/
.vscode/
/packages/**/.npmignore
/packages/**/LICENSE

bin/*
.nyc_output/*
coverage.md
tags*
